<h1 mat-dialog-title>Einstellungen</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Spielstärke</mat-label>
        <mat-select [(value)]="data.maxLev">
            <mat-option [value]=3>Anfänger</mat-option>
            <mat-option [value]=4>Amateur</mat-option>
            <mat-option [value]=5>Fortgeschrittener</mat-option>
            <mat-option [value]=6>Meister</mat-option>
            <mat-option [value]=7>Großmeister</mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Wer fängt an</mat-label>
        <mat-select [(value)]="data.whoBegins">
            <mat-option value="human">Spieler</mat-option>
            <mat-option value="ai">Computer</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Abbrechen</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>