<mat-card>
    <mat-card-content>
        <h2>Vier Gewinnt</h2>
    </mat-card-content>
    <mat-card-content>
        <table id="field" aria-describedby="board">
            <tr *ngFor="let row of NROW">
                <td *ngFor="let col of NCOL" [class]="getClass(row, col)" (click)="onClick(col)"> </td>
            </tr>
        </table>
    </mat-card-content>
    <mat-card-content>
        <p>{{info}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-fab color="primary" matTooltip="Zug zurücknehmen"><mat-icon>undo</mat-icon></button>
        <button mat-fab color="primary" matTooltip="Einstellungen"><mat-icon>settings</mat-icon></button>

    </mat-card-actions>

</mat-card>